@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0rem;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}
/* full width on smaller screen */
@media (max-width: 640px) {
  .App {
    padding: 0;
  }
}
